.timer-container {
  display: flex;
  flex-direction: column;
  place-items: center;
  min-height: 50vh;
  width: 400px;
  background-color: #dfffe4;
  padding: 20px;
  font-family: Arial;
  border-radius: 20px;
}

.timer-display {
  border: 2px solid #1e271e;
  padding: 18px 20px;
  margin: 20px;
  margin-bottom: 30px;
  font-size: 45px;
  background-color: #fefffc;
  border-radius: 20px;
}

.timer-controls {
  display: flex;
  justify-content: center;
}

.timer-controls button {
  background-color: #00be6f;
  border: none;
  color: white;
  padding: 15px 30px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.timer-controls button:hover {
  background-color: #01a35f;
  transition: 0.3s;
}

.timer-laps {
  width: 100%;
}

.timer-laps ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

.timer-laps li {
  border-bottom: 1px solid #b3b3b3;
  padding: 8px 16px;
}

.timer-laps li:nth-child(odd) {
  background-color: #ddd;
}